.row
  .col-sm-6
    = bootstrap_form_for @ticket do |f|
      - if @ticket.errors.any?
        %p
          #{pluralize(@ticket.errors.count, "error")} prohibited this ticket from being saved.
          %br
          Please check this form before submitting again.

      = f.text_field :name, label: "Please enter your full name"
      = f.email_field :customer_email, label: "Your e-mail address"
      = f.collection_select :department_id, Department.all, :id, :name

      = f.text_field :subject
      = f.text_area :description, label: "Description of the enquiry"

      .actions
        = f.submit 'Create ticket'

