%h2 Your Ticket

%p
  %b Ticket reference number:
  = @ticket.ref_num

%p
  %b Name:
  = @ticket.name
%p
  %b Customer email:
  = @ticket.customer_email
%p
  %b Department:
  = @ticket.department.name
%p
  %b Staff in charge:
  = @ticket.admin.try(:name) || "(Currently unassigned)"
%p
  %b Description:
  %br
  = nl2br @ticket.description
%p
  %b Status:
  = @ticket.status.name

- if @ticket.replies.length > 0
  %p
    %b Replies
  .panel.panel-default
    - @ticket.replies.each do |reply|
      .panel-body
        .small
          = reply.created_at
          by #{reply.author}
        = reply.description

- unless @ticket.status.closed?
  .row
    .col-sm-6
      = bootstrap_form_for @ticket do |f|

        = f.fields_for :replies, @ticket.replies.build do |f|
          - if @ticket.errors.any?
            - f.object.valid?
            %p
              #{pluralize(@ticket.errors.count, "error")} prohibited this ticket from being saved.
              %br
              Please check this form before submitting again.

          = f.hidden_field :customer_email, value: @ticket.customer_email
          = f.text_area :description

          .actions
            = f.submit 'Send update'

            = link_to "Mark as complete", complete_ticket_path(@ticket), data: { confirm: 'Are you sure?' }
            |
            = link_to "Cancel", cancel_ticket_path(@ticket), data: { confirm: 'Are you sure?' }

