%h2 Your Ticket

%p
  %b Ticket reference number:
  = @ticket.ref_num

%p
  %b Name:
  = @ticket.name
%p
  %b Customer email:
  = @ticket.customer_email
%p
  %b Department:
  = @ticket.department.name
%p
  %b Staff in charge:
  = @ticket.admin.try(:name) || "(Currently unassigned)"
%p
  %b Description:
  = @ticket.description
%p
  %b Status:
  = @ticket.status.name

