.row
  .col-sm-6
    - form_params = params[:action] == 'edit' ? { url: admin_ticket_path(@ticket), method: 'patch' } : { url: admin_tickets_path, method: 'post' }
    = bootstrap_form_for @ticket, form_params do |f|
      - if @ticket.errors.any?
        %p
          #{pluralize(@ticket.errors.count, "error")} prohibited this ticket from being saved.
          %br
          Please check this form before submitting again.

      = f.text_field :name, label: "Customer name"
      = f.email_field :customer_email

      = f.collection_select :department_id, Department.all, :id, :name
  
      = f.text_field :subject
      = f.text_area :description

      = f.collection_select :admin_id, Admin.all, :id, :email, :prompt => true
      = f.collection_select :status_id, Status.all, :id, :name
  
      - if @ticket.replies.length > 0
        %p
          %b Replies
        .panel.panel-default
          - @ticket.replies.each do |reply|
            .panel-body
              .small
                = reply.created_at
                by #{reply.author}
              = nl2br reply.description

      - if @ticket.persisted?

        = f.fields_for :replies, @ticket.replies.build do |f|
          - if @ticket.errors.any?
            %p
              #{pluralize(@ticket.errors.count, "error")} prohibited this ticket from being saved.
              %br
              Please check this form before submitting again.

          = f.hidden_field :admin_id, value: current_admin.id
          = f.text_area :description, label: "Reply or post a new update"

      .actions
        = f.submit 'Send update'
