%h1 Listing tickets

%table.table
  %tr
    %th Name
    %th Customer email
    %th Department
    %th Admin
    %th Description
    %th Status
    %th Ref num
    %th

  - @tickets.each do |ticket|
    %tr
      %td= link_to ticket.name, edit_admin_ticket_path(ticket)
      %td= ticket.customer_email
      %td= ticket.department.name
      %td= ticket.admin.try :name
      %td= ticket.description
      %td= ticket.status.name
      %td= ticket.ref_num
      %td
        = link_to 'Edit', edit_admin_ticket_path(ticket)
        = link_to 'Destroy', admin_ticket_path(ticket), method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Ticket', new_admin_ticket_path
