!!! 5
%html(lang="en")
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
  %body
    %h1 Welcome to #{@ticket.name}
    
    %p
      Your request has been received, we will contact you shortly.
      Please note the following code for your enquiries.

    %p Reference number: #{@ticket.ref_num}

    %p To view your ticket online, just follow this link:
    %p #{@url}

    %p Thanks for joining and have a great day!