!!! 5
%html(lang="en")
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
  %body
    %h1 New update from your ticket

    %p Dear #{@ticket.name}, here you will find your updates.
    
    %p Reference number: #{@ticket.ref_num}

    %p To view your ticket online, just follow this link:
    %p #{@url}

    %p{ stlye: "margin-bottom:15px;" }
      %b Replies
      - @ticket.replies.each do |reply|
        %div{ stlye: "margin-bottom:10px;" }
          %span{ style: "font-size: 10px" }
            = reply.created_at
            by #{reply.author}
          %div
            = reply.description.gsub("\n", "<br>").html_safe

    %p Thanks for joining and have a great day!