#page-container {
  padding-bottom: 40px;
}

.hero-unit-container {
  max-width: 450px;
  position: relative;
  margin: 15px auto;
  padding: 20px 20px 35px;
  background-color: #eee;
  border: 1px solid #ddd;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}